# ignore credentials
assets/cred.txt
assets/database.json
dist/
dev_main.js
.DS_Store
custom_main.js
build/

package-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/
